<div class="center hero-unit">
  <h3>
    Repository
  </h3>
  <%= form_with url: code_log_get_repository_path do |form| %>
    <%= form.text_field :repository %>
    <%= form.submit "リポジトリ取得" %>
  <% end %>

  <h3>
    Repository list
  </h3>
  

</div>
