<div class="center hero-unit">
  <h3>
    Repository
  </h3>
  <%= form_tag({ controller: 'code_log', action: 'get_repository' }, { method: :post}) do %>
    <div>
      <%= text_field :title, class: "hogehoge" %>
    </div>

    <%= submit_tag "作成" %>
  <% end %>
</div>
